<!DOCTYPE html>
<html>

<head>
  <title>DIAG Algorithms</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.4.1/vuetify.min.css" integrity="sha256-2q+CN/p5D8lKbMpdpkz0RlKtm3ODhKCGUbKU/QQTvko=" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

  <div id="app">
    <v-app>
      <v-layout justify-center>
        <v-flex>

          <v-toolbar color="#00afdc" dark>
            <v-toolbar-title v-html="title"></v-toolbar-title>
          </v-toolbar>

          <v-container v-for="(cards, type) in apps" fluid grid-list-md>

            <v-subheader v-html="type"></v-subheader>

            <v-layout row wrap>
              <v-flex v-for="card in cards" v-bind="{ [`xs${card.flex}`]: true }" :key="card.name">
                <v-card v-bind:href="card.url">
                  <v-img :src="card.image" height="200px">
                  </v-img>
                  <v-card-title primary-title>
                    <div>
                      <div class="headline" v-text="card.name"></div>
                      <span class="grey--text" v-html="card.description"></span>
                    </div>
                  </v-card-title>
                </v-card>
              </v-flex>
            </v-layout>

          </v-container>
        </v-flex>
      </v-layout>
    </v-app>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js" integrity="sha256-628YJ33SSNGwa+a/S3mx27+nZrFkawJZt/CC/REfBPk=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.4.1/vuetify.min.js" integrity="sha256-PYE8geurD/lwJ6qyF48quqaBFNkW+9H48wBAWOterhU=" crossorigin="anonymous"></script>

  <script>
    new Vue({
      el: '#app',
      data: () => ({
        title: "Diagnostic Image Analysis Group",
        apps: {
          Workstations: [
            {
              name: 'CIRRUS Pathology',
              url: 'https://apps.diagnijmegen.nl/Applications/CIRRUSWeb_ami_midterm_demo_11772_825fb0ace/#/?workstation=CirrusPathology',
              image: 'images/pathology.png',
            },
            {
              name: 'AMI Ophthalmology AMD Workstation',
              url: 'https://apps.diagnijmegen.nl/Applications/CIRRUSWeb_ami_basic_workstation_11772_79b4c01cd/#/?workstation=AMDWorkstation',
              image: 'images/ophthalmology_amd.png'
            },
            {
              name: 'AMI Ophthalmology Multimodal Workstation',
              url: 'https://apps.diagnijmegen.nl/Applications/CIRRUSWeb_ami_basic_workstation_11679_e648d02bc/#/?workstation=AMIBasicWorkstation',
              image: 'images/ophthalmology_multi.png'
            },
            {
              name: 'CIRRUS Oncology',
              url: 'https://apps.diagnijmegen.nl/Applications/CIRRUSWeb_16176/#!/?workstation=CIRRUSOncology',
              image: 'images/oncology.png'
            },
            {
              name: 'CIRRUS Lung Screening',
              url: 'https://apps.diagnijmegen.nl/Applications/CIRRUSWeb_cirruslungs-19.1.2_3543_fd25624/#!/?workstation=CIRRUSLungS',
              image: 'images/cirruslungs-1.png'
            }
          ],
          Algorithms: [
            {
              name: 'Cardiomegaly Detection',
              url: 'https://grand-challenge.org/algorithms/cardiomegaly-detection/',
              image: 'images/cardiomegaly-detection.png'
            },
            {
              name: 'X-Ray Emphysema Classifier',
              url: 'https://grand-challenge.org/algorithms/x-ray-emphysema-classifier/',
              image: 'images/x-ray-emphysema-classifier.png'
            },
            {
              name: 'Spleen Segmentation',
              url: 'https://grand-challenge.org/algorithms/spleen-segmentation/',
              image: 'images/spleen-segmentaiton.png'
            },
            {
              name: 'Vertebra Segmentation',
              url: 'https://grand-challenge.org/algorithms/vertebra-segmentation/',
              image: 'images/vertebra-segmentation.png'
            },
            {
              name: 'Intracerebral Haemorrhage Segmentation',
              url: 'https://grand-challenge.org/algorithms/ich-segmentation/',
              image: 'images/ich-segmentation.png'
            },
            {
              name: 'Cranial cavity segmentation',
              url: 'https://grand-challenge.org/algorithms/cranial-cavity-segmentation/',
              image: 'images/cranial-cavity-segmentation.jpg'
            },
            {
              name: 'Cerebral hemisphere segmentation',
              url: 'https://grand-challenge.org/algorithms/cerebral-hemisphere-segmentation-2/',
              image: 'images/hemisphere-segmentation.png'
            }
          ]
        }
      })
    })
  </script>
</body>

</html>
